
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
  <style>
   

   
  </style>
</head>
<body>
  <!-- Header -->
  <header>
    <div class="logo">
     <img class="logos" src="assets/data-pulse-logo.png" alt="">
    </div>
  
  </header>

  <!-- Hero section -->
  <section class="hero">
    <h2  class="animate-charcter">Data Management Simplified</h2>
  </section>

  <!-- Services section -->
  <section class="services">
    <h2 style="text-align: center;color: green;margin-bottom: 10px;">Our Services</h2>
    <div class="service">
      <h3> <span> Service 1</span></h3>
      <p> Allow users to create, modify, and delete the users data</p>
    </div>
    <div class="service">
      <h3>Service 2</h3>
      <p> Allow users to add, delete, and modify the data stored in a database.</p>
    </div>
    <div class="service">
      <h3>Service 3</h3>
      <p> Allow users to search for and retrieve data from a database. </p>
    </div>
    <div class="clearfix"></div>
  </section>

  <!-- Blog posts section -->
  <section class="blog-posts">
    <h2 style="text-align: center;color: green; margin-bottom: 10px;">Latest Posts</h2>
    <div class="post">
      <h3>Curd Application</h3>
      <p>CRUD stands for Create, Read, Update, and Delete, which are the four basic operations performed on data stored in a database.They are essential for managing data in a organized and efficient manner.</p>
    </div>
    <div class="post">
      <h3>Chess</h3>
      <p> Chess is a two-player strategy game that has been played for over a thousand years. It is considered one of the oldest and most popular games in the world, with a rich history and a strong following of dedicated players.</p>
    </div>
    <div class="post">
    <h3>Anime</h3>
    <p>Anime is a style of Japanese animation that has captured the hearts of fans all over the world. Originating in Japan in the early 20th century, anime has since become a global phenomenon, with fans spanning across countries and cultures. </p>
    </div>
    <div class="post">
        <h3>Angular</h3>
        <p>Angular 15 is the latest version of the popular JavaScript framework for building web applications. Developed and maintained by Google, Angular has been widely adopted by developers for creating complex and dynamic web applications.</p>
        </div>

  </section>
  <!-- Footer -->
  <footer>
  <h4 style="color: rgb(133, 235, 143);">  Data Pulse &copy; 2023 </h4>    
  </footer>
  </body>

